body {
    background-color: #E8E1D7;
}

.search {
    border: 2px solid #C7B09E;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    background-color: #E8E1D7;
    color: #C7B09E;
    font-family:"Roboto Mono", "Iosevka Web";
    font-weight: bold;
    font-size: 140%;
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 10%;
    min-height: 52px;
    padding-left: 3%;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-input-placeholder { color: #b9ab9f; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
