body {
    background-color: #1b1f27;
}

.search {
    border: 2px solid #3f4859;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    background-color: #1b1f27;
    color: white;
    font-family: Iosevka Web;
    font-weight: bold;
    font-size: 140%;
    position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 10%;
    min-height: 52px;
    padding-left: 3%;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-input-placeholder { color: #636d80; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
